.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

.user-card {
  aspect-ratio: 1 / 0.4;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  text-decoration: none;
  color: inherit;
}
.user-card:hover 
{
  color: inherit;
}

.user-card__top {
  display: flex;
  gap: 12px;
  align-items: center;
}

.user-card__avatar {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
}

.user-card__info {
  flex: 1;
  overflow: hidden;
  text-align: left;
}

.user-card__name {
  font-weight: 600;
}

.user-card__email {
  font-size: 14px;
  opacity: 0.75;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-card__row {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
  white-space: nowrap;
  overflow: hidden;
}

.user-card__label {
  opacity: 0.6;
}

.user-card__value {
  overflow: hidden;
  text-overflow: ellipsis;
}
